.loan-row {
  .more-settlement-amount-info {
    display: none;
    padding-top: 10px;
    width: 190px;
    line-height: 17px;
    dl {
      display: block;
      dt {
        display: inline-block;
        font-size: 12px;
        color: #979797;
        float: left;
        margin-right: 10px;
      }

      dd {
        display: block;
        font-size: 12px;
        color: #141414;
        margin-bottom: 5px;
      }
    }
  }

  .show-more {
    content: "Show More";
    font-size: 12px;
    color: #4a90e2;
    text-decoration: none;
    position: relative;

    &:before {
      content: "Show More";
    }
  }

  &.active {
    .more-settlement-amount-info {
      display: block;
    }

    .back-details {
      display: block;
    }

    .show-more {
      &:before {
        content: "Show Less";
      }
    }
  }
}
