<div id="intNet">
    <div class="bgOverlay"></div>
    <div class="overlay noInt">
      <img src="images/noInternet.png"/>
      <p class="modal-heading">Enter User Details</p>
      <!-- <p class="modal-sub-heading">quia dolor sit amet, consectetur</p> -->
      <div class="detail-cntr">
          <div class="form-group padding-top-30">
              <label class="">Full Name</label>
              <div class="input-field-cntr">
                  <input type="text" class="input-field" id="flatNumber" placeholder="Enter full name">
              </div>

          </div>

          <div class="form-group field-padding">
              <label class="">Phone number</label>
              <div class="input-field-cntr">
                  <input type="text" class="input-field" id="flatNumber" placeholder="Enter valid phone number">
              </div>
          </div>

          <div class="form-group field-padding">
              <label class="">Address</label>
              <div class="input-field-cntr">
                  <input type="text" class="input-field" id="flatNumber" placeholder="Enter Address">
              </div>
          </div>


           <p class="modal-heading loan-detail-heading">Enter Loan Details</p>

           <div class="form-group field-padding">
               <label class="">Loan Amount</label>
               <div class="input-field-cntr">
                   <input type="text" class="input-field" id="flatNumber" placeholder="Enter Loan Amount">
               </div>
           </div>

           <div class="form-group field-padding">
               <label class="">Rate of Interest</label>
               <div class="input-field-cntr">
                   <input type="text" class="input-field" id="flatNumber" placeholder="(in %)">
               </div>
           </div>

           <div class="form-group field-padding">
               <label class="">Term</label>
               <div class="input-field-cntr">
                   <input type="text" class="input-field" id="flatNumber" placeholder="(in months)">
               </div>
           </div>

           <div class="form-group field-padding">
               <label class="">Disbursement Date</label>
               <div class="input-field-cntr">
                   <input type="date" class="input-field" id="flatNumber">
               </div>
           </div>

           <div class="form-group field-padding">
               <label class="">Repayment Start Date</label>
               <div class="input-field-cntr">
                   <input type="date" class="input-field" id="flatNumber">
               </div>
           </div>

           <div class="form-group field-padding">
               <label class="">Ammortization</label>
               <div class="input-field-cntr">
                    <div class="option-cntr">
                        <input type="radio" class="" id="flatNumber" placeholder="Enter Loan Amount">
                        <label>option1</label>
                    </div>

                    <div class="option-cntr right-option">
                        <input type="radio" class="" id="flatNumber" placeholder="Enter Loan Amount">
                        <label>option1</label>
                    </div>
               </div>
           </div>


            <div class="btn-cntr">
                <div class="upload-button save-form">
                     Save
                </div>
            </div>
        </div>
    </div>
</div>
