
// WEB FONT FAMILY
$zow-font-regular: "Proxima Nova Rg";
$zow-font-semibold: "Proxima Nova Md";
$zow-font-light: "Proxima Nova Lt";
$zow-roboto-regular :'Roboto Rg';
$zow-roboto-medium :'Roboto Md';
$zow-roboto-bold :'Roboto Bd';
// Brand
$brand-color: #633ea5;
// Sidebar Menu Menu
$zow-sidemenu-bg-color: #3a3348;
$zow-sidemenu-bdr-right-color: #3a3348;
$font-weight-600: 600;
$font-weight-400: 400;
$text-color-white: #FFFFFF;
$font-size-12: 12px;
$font-size-13: 13px;
$text-size-14: 14px;
$text-size-16: 16px;
$font-size-20: 20px;
$font-size-30: 30px;
$anchor-tag-color: #746c84;
$font-color-lightpink: #8A7DA1;
$zow-bgcolor-white: #FFFFFF;
$zow-active-bgcolor: #4A376C;
// Carousel Conatiner
$zow-carousel-bg-color: #1fa0ac;
$zow-carousel-height: 440px;
// Tabs
$zow-tab-bg-color: #f9f9f9;
$zow-tab-text-color: #a5a5a5;
$zow-tab-active-text-color: #FFC41E;
//Table
$zow-table-header-color: #a5a5a5;
$zow-table-headerclr-mediumblock: #353535;
$zow-text-color-red: #F74833;
$zow-text-color-green: #7ed321;
$zow-padding-right: 40px;
$zow-text-decoration-underline: underline;
$zow-margin-bottom-none: 0px;
$zow-table-column-gap: 20px 10px;
// Cash Card Header
$zow-ccheader-bg-color: #1fa0ac;
$zow-opacity-text: 0.5;
$font-size-20: 20px;
$font-size-15: 15px;
$font-size-24: 24px;
$zow-text-color-graydark: #5a5a5a;
$zow-text-color-gray: #a5a5a5;
$zow-pdtop-four: 4px;
$zow-bgcolor-lightgreen: #7ed321;
$zow-bgcolor-lightgray: #a5a5a5;
$text-color-black: #353535;
// Input Text Field
$zow-bg-color-transparent: transparent;
$zow-box-shadow-none: none;
$zow-border-radious-none: 0;
$zow-border-left-none: none;
$zow-padding-top-10: 10px;
$padding-right-0: 0px;
$border-color-tblr-none: #ddd;
$zow-mg-left-twenty: 20px;
// Button
$zow-submit-btn-bgcolor: #ffbc00;
$zow-border-tblr-none: none;
$zow-submit-btn-width: 292px;
$zow-showmore-btn-bgcolor: #e6e6e6;
// Select Bank type
$zow-bdr-bottom: none;
$zow-bdr-top: none;
$zow-text-color-thingray: #cccccc;
$zow-element-height: 10px;
// Input field
$text-field-width: 240px !important;
$text-filed-xswidth: 290px;
$text-field-xxswidth: 264px;
$text-field-enteramount: 160px;
// Success Popup
$zow-popup-bgcolor: #3a3348;
$text-green: #7ed321;
$text-size: 16px;
// Medical card page
$bg-color-blue: #578df2;
$selectbox-withtext-right: right;
// Body Overlay
$absolute-top-center: 30%;
$absolute-left-center: 30%;
$text-color-white: #FFFFFF;
// Legend Colors
$zow-bglegend-red: #f9213c;
$zow-bglegend-blue: #00a0da;
$zow-bglegend-yellow: #ffbc00;
$zow-bglegend-darkgreen: #1fa0ac;
// Cash Card Transfer to Contact
$zow-tablecolumn-bdrbottom: 0px solid #FFFFFF !important;
// Modal Box
$zow-sm-modalbox-width: 490px;
$zow-modalbtn-width: 144px;
$zow-success-modalbox-width: 440px;
// Super Card Header
$zow-scheader-bg-color: #b34591;
$text-field-width-date-month: 58px;
$zow-font-size-ten: 10px;
$zow-font-size-twentysix: 26px;
$block-height-ten: 10px;
$block-height-twenty: 20px;
$block-height-forty: 40px;
$block-height-fifty: 50px;
$block-height-sixty: 60px;
$block-height-twentysix: 26px;
$font-color-mediumkgray: #999;
// Medical Card
$medicalcard-summary-bgcolor: #f5f5f5;
$summary-pd-tblr: 30px 30px 10px 30px;
$summary-list-active: #ffbc00;
$arrow-color-lightgray: #d2d2d2 !important;
$padding-top-thirty: 30px;
$padding-bottom-thirty: 30px;
$padding-left-ten: 10px;
$padding-top-two: 2px;
// Link color
$anchor-link-color: #4a90e2;
$text-field-color: #222222;
$placehoder-color: #d2d2d2;
$zow-profileheader-bg-color: #DB3186;
