<!-- Banner -->
<div class="banner-section ammortize-banner">
    <div class="row">
        <div class="head-cntr">
            <div class="page-heading">
                <div class="thumbnail">
                    All Loans /
                </div>
                <img src="../images/defaultImg.png" />
                <span><%-personalInfo.name %></span>
            </div>
        </div>

        <div class="right-section">
            <div class="right-section-detail">
                <div>Contact :<%-personalInfo.contact %> </div>
                <div>Address :<%-personalInfo.address %></div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Banner End -->

<div id="reportTable">
    <div class="table-container transaction-table">
        <h5>LOAN DETAIL</h5>
        <div class="table">
            <div class="table-header">
                <div class="table-row">
                    <div class="table-cell">Date</div>
                    <div class="table-cell">Previous Balance</div>
                    <div class="table-cell">Principal Payment</div>
                    <div class="table-cell">Interest Payment</div>
                    <div class="table-cell">Total Payment</div>
                    <div class="table-cell">Ending Balance</div>

                </div>
            </div>
            <div class="table-body" id="salesReportTable">
                <% for(var i =0; i < ammortizeTable.length; i++){ %>

                    <div class="table-row settlement-row active">
                        <div class="table-cell">
                            <%-personalInfo.rDate %>
                        </div>
                        <div class="table-cell"> <%- convertToDecimal(ammortizeTable[i][3])%></div>
                        <div class="table-cell"> <%- convertToDecimal(ammortizeTable[i][1])%></div>
                        <div class="table-cell"> <%- convertToDecimal(ammortizeTable[i][2])%></div>
                        <div class="table-cell"> <%- convertToDecimal(ammortizeTable[i][2] + ammortizeTable[i][1])%></div>
                        <div class="table-cell"> <%- convertToDecimal(ammortizeTable[i][4])%></div>

                    </div>

                <% } %>

            </div>


            <div class="empty-state" id="empty-state" style="display: none">
                <h4>No Transactions</h4>
            </div>
        </div>
    </div>
</div>
