<!-- Banner -->
  <div class="banner-section ammortize-banner">
    <i class="fa fa-address-book"></i>
      <div class="row">
        <div class="head-cntr">
          <div class="page-heading">
            <div class="thumbnail">
              All Loans /
            </div>
            <img src="../images/defaultImg.png" />
            <span>Utkarsha Bakshi</span>
          </div>
        </div>

        <div class="right-section">
          <div class="right-section-detail">
            <div><i class="fa fa-address-book" aria-hidden="true"></i>Contact : +919108558028  </div>
            <div>Address : Behind SBI, subash Nagar, ushampur, jammu & kashmir,182101</div>
          </div>
        </div>
      </div>
      </div>
</div>
<!-- Banner End -->

<div id="reportTable"><div class="table-container transaction-table">
 <h5>LOAN DETAIL</h5>
  <div class="table">
    <div class="table-header">
      <div class="table-row">
        <div class="table-cell">Date</div>
        <div class="table-cell">Previous Balance</div>
        <div class="table-cell">Principal Payment</div>
        <div class="table-cell">Interest Payment</div>
        <div class="table-cell">Total Payment</div>
        <div class="table-cell">Ending Balance</div>
        
      </div>
    </div>
    <div class="table-body" id="salesReportTable"><div class="table-row settlement-row active">
  <div class="table-cell">
    15/7/2016
  </div>
  <div class="table-cell">10,000</div>
  <div class="table-cell"> 789 </div>
  <div class="table-cell">44</div>
  <div class="table-cell"> 879</div>
  <div class="table-cell">9887</div>

  </div>
</div>


  <div class="empty-state" id="empty-state" style="display: none">
    <h4>No Transactions</h4>
  </div>
</div>
</div>
