<!-- Banner -->
  <div class="banner-section">
      <div class="row">
        <div class="head-cntr">
          <div class="page-heading">
                <h1>The Intersect Fund</h1>
            </div>
            <p>
                Making a robust and innovative platform for your loan management system.
            </p>
        </div>

        <div class="upload-button" id="upload-button">
          + add new loan details
        </div>
      </div>
  </div>
<!-- Banner End -->

<div id="loanTable"></div>
